<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>My Super Fancy Spa</h1>
<div id = "clientProfile">
    <h2>My Profile</h2>
    <p th:text="${name}"></p>
    <p th:text="${skintype}"></p>
    <p th:text="${manipedi}"></p>
</div>
<div id = "servicesMenu">
    <h2>Menu Of Available Services</h2>
    <h3>Facial Treatments</h3>
    <th:block th:each="item: ${appropriateFacials}">
        <table>
        <tr>
            <td th:text="${item}">
            </td>
        </tr>
        </table>
    </th:block>
<th:block th:if= '${manipedi.equals("manicure")}'>
    <h3 >Manicure</h3>
    <div th:replace="fragments :: manicureDescription">
    </div>
</th:block>
<th:block th:if= '${manipedi.equals("pedicure")}'>
    <h3 >Pedicure</h3>
    <div th:replace="fragments :: pedicureDescription">
    </div>
</th:block>
</div>

<footer>
    <div class="squares">
        <div class="square1"></div>
        <div class="square2"></div>
        <div class="square3"></div>
        <div class="square4"></div>
    </div>
</footer>
</body>
</html>